<html>
    <head>
        <title>test</title>
    </head>
    <body>
        {% for machin in app.session.flashBag.get('nomGroupe') %}
            <p>{{machin}}</p>
        {% endfor %}
        <p>
            {{ var1 }} {{ var2 | upper }}
        </p>
    </body>
</html>