{% extends "@FmdBookingManagement/Default/layout.php.twig" %}

{% block titre %}{{ parent() }}choix{% endblock %}

{% block body %}
        <form method="post" action="choix">
            <p>
                Que choisissez vous ?
            </p>
            <p>
                <input type="radio" name="choix" value="reserver" id="reserver" /> <label for="reserver">entamer une nouvelle réservation</label><br />
                <input type="radio" name="choix" value="consulter" id="consulter" /> <label for="consulter">consulter une précédente réservation</label>
            </p>
            <p><input type="submit" value="Valider" /></p>
        </form>
{% endblock %}