<!DOCTYPE html>
<html>
    <head>
        <title>musée du louvre - site de réservation</title>
    </head>
    <body>
        <form method="post" action=" ? ">
            <p>consultation</p>
        </form>
    </body>
</html>