{% extends "@FmdBookingManagement/Default/layout.php.twig" %}

{% block titre %}{{ parent() }}accueil{% endblock %}

{% block body %}
        <p>Bienvenue sur le site de réservations du musée du Louvre.</p>
        <form method="post" action="app_dev.php/verifMail">
            <p label="mail">Pour commencer, veuillez renseigner votre e-mail :</p>
            <p><input type="email" required for="mail" name="mail" /></p>
            <p><input type="submit" value="Valider le mail" /></p>
        </form>
{% endblock %}