<html>
    <head>
        <title>{% block titre %}musée du louvre - {% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('design.css') }}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <a href="/app_dev.php">
            <header>
                <h1>Musée du Louvre - site de réservation de billets</h1>
            </header>
        </a>
        <section>
            {% block body %}
            {% endblock %}
        </section>
        <footer>
            <table>
                <tr>
                    <td>
                        <a href="https://www.louvre.fr">site officiel du musée du Louvre</a><br />
                        lieu : Rue de Rivoli, 75001 Paris<br />
                        adresse postale : Musée du Louvre, 75058 Paris CEDEX 01, France<br />
                        mail : info@louvre.fr<br />
                        téléphone : + 33 (0)1 40 20 50 50.<br />
                    </td
                </tr>
            </table>
        </footer>
    </body>
</html>