<html>
    <head>
        <title>{% block titre %}musée du louvre - {% endblock %}</title>
        <link rel="stylesheet" href="http://localhost:8888{{ asset('design.css') }}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <p>
            {{ lienBanniere }}
        </p>
        <p>
            a
        </p>
        <a href="http://localhost:8888{{ lienBanniere }}">
            <header>
                <h1>Musée du Louvre - site de réservation de billets</h1>
            </header>
        </a>
        <section>
            {% block body %}
            {% endblock %}
        </section>
        <footer>
            <table>
                <tr>
                    <td>
                        <a href="https://www.louvre.fr">lien vers le site officiel du musée du Louvre</a><br />
                        adresse postale : Musée du Louvre, 75058 Paris CEDEX 01, France<br />
                        téléphone : + 33 (0)1 40 20 50 50.<br />
                        mail du louvre : info@louvre.fr<br />
                        mail relatif au présent site : testsDivers2@gmail.com<br />
                </tr>
            </table>
        </footer>
    </body>
</html>