<!DOCTYPE html>
<html>
    <head>
        <title>musée du louvre - site de réservation</title>
    </head>
    <body>
        <form method="post" action=" ? ">
            {% if ancienVisiteur %}
                <p>Voulez vous reserver pour les personnes suivantes ? (basé sur vos précédentes réservations)</p>
                

                <!-- recup infos précédents visiteurs... En amont dans controleur ? -->
                <!-- mettre bouton pour supprimer visiteur ? javascript ou jquery -->
                <p>Souhaitez vous réserver pour d'autres personnes ?</p>
            {% else %}
                <p>Donnez vous s'il vous plait les informations suivantes pour chacun des visiteurs attendus :</p>
            {% endif %}
            <!-- infos visiteurs -->
            
            
            <!-- date reservation + journée entière ? -->
            
        </form>
    </body>
</html>