<!DOCTYPE html>
<html>
    <head>
        <title>musée du louvre - site de réservation</title>
    </head>
    <body>
        <p>
            {% if reussi %}
                Le traitement a réussi.
            {% else %}
                Le traitement a échoué.
            {% endif %}
        </p>
    </body>
</html>