{% extends "@FmdBookingManagement/Default/layout.php.twig" %}

{% block titre %}{{ parent() }}traitement{% endblock %}

{% block body %}
        <p>
            {% if reussi %}
                Le traitement a réussi.
            {% else %}
                Le traitement a échoué.
            {% endif %}
        </p>
{% endblock %}