{% extends "@FmdBookingManagement/Default/layout.php.twig" %}

{% block titre %}{{ parent() }}traitement{% endblock %}

{% block body %}
        <p>
            {% if reussi %}
                Réservation achevée. Vous allez reçevoir votre billet par mail.
            {% else %}
                La réservation a échoué.
            {% endif %}
        </p>
{% endblock %}