<html>
    <head>
        <title>{% block title %}Rerévisions - {% endblock %}</title>
    </head>
    <body>
        <p>paragraphe du template père avant block</p>
        {% block body %}
            <p>paragraphe père écrit entre ouverture et fermeture block</p>
        {% endblock %}
    </body>
</html>