<html>
    <head>
        <title>fin chapitre 1 de la partie 2</title>
    </head>
    <body>
        <p>Tests une fois P2 CH1 fini.</p>
        <p>{{ prénom }} {{ nom | upper }}</p>
    </body>
</html>