{% extends "OCRerevisionsBundle::pere.html.twig" %}
{% block title %}
    {{parent()}}héritage
{% endblock %}
{% block body %}
    {{parent()}}
    <p>paragraphe écrit directement dans la page fils</p>
    {{ include('OCRerevisionsBundle:Rerevisions:aInclureDirect.html.twig') }}
    {{ render(controller('OCRerevisionsBundle:Rerevisions:pourInclusion')) }}
{% endblock %}