<html>
    <head>
        <title>machin.html.twig</title>
    </head>
    <body>
        <p>via template machin.html.twig</p>
        <p>je m'appelle {{ prenom }} {{ nom }}. Ecrit avec twig.</p>
    </body>
</html>