body
{
    font-family : "Times New Roman", Arial, "Comic Sans MS";
    text-align : justify;
    background : #fcca6e;
}
header, footer
{
    text-align : center;
    font-style : italic;
    margin : -10px;
    padding : 20px;
}
header, footer, header > *, footer > *
{
    background : black;
    color : white;
}
header
{
    margin-top : -30px;
    padding-top : 35px;
}
footer
{
    margin-top : 20px;
    padding-top : 25px;
}
section
{
    margin : 10px;
}
body a+*
{
    margin-top : 30px;
}
a
{
    text-decoration : none;
}
table
{
    margin : auto;
}
td > a
{
    font-style : italic;
}
.encadre
{
    /*border-top : 1px solid #977941;*/
    padding : 20px;
    padding-top : 5px;
    padding-bottom : 5px;
    margin-bottom : 20px;
    background : #d3a95b;
    text-align : center;
}