body
{
    font-family : "Times New Roman", Arial, "Comic Sans MS";
    text-align : justify;
    background : #fcca6e;
}
header, footer
{
    text-align : center;
    font-style : italic;
    margin : -10px;
    padding : 20px;
}
header, footer, header > *, footer > *
{
    background : black;
    color : white;
}
header
{
    margin-top : -30px;
    padding-top : 35px;
}
footer
{
    margin-top : 20px;
    padding-top : 25px;
}
section
{
    margin : 10px;
}
.conteneur
{
    margin-top : 30px;
}
a
{
    text-decoration : none;
    color : rgb(138, 136, 255);
}
table
{
    margin : auto;
}
td > a
{
    font-style : italic;
}
.encadre
{
    padding : 20px;
    padding-top : 5px;
    padding-bottom : 5px;
    margin-bottom : 20px;
    background : #d3a95b;
    text-align : center;
}
nav
{
    background : #d3a95b;
}
nav a
{
    color : rgb(84, 84, 221);
    font-variant : small-caps;
}
@media all and (min-width : 850px)
{
    .conteneur
    {
        display : flex;
    }
    nav
    {
        min-width : 210px !important;
        width : 210px !important;
        margin : 10px;
        height : 90px;;
    }
    .corps
    {
        margin : auto;
    }
}
@media all and (max-width : 849px)
{
    nav
    {
        margin : 10px !important;
        padding : 1px;
    }
    .listeMenu
    {
        display : flex;
        list-style-type: none;
    }
    .puceMenu
    {
        margin : auto;
    }
}